parameters:
    ignoreErrors:
        - '#Parameter \#4 \$sourceBucketId of method Keboola\\StorageApi\\Client\:\:linkBucket\(\) expects int, string given.#'
        - '#Parameter \#1 \$message of class Keboola\\StorageApi\\ClientException constructor expects null, string given.#'